<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>Label</key>
                <string>hmdl</string>
                <key>ProgramArguments</key>
                <array>
                        <string>/Users/chotchki/hmdl/bin/hmdl</string>
                        <string>/Users/chotchki/hmdl/data/data.db</string>
                </array>
                
                <key>WorkingDirectory</key>
                <string>/Users/chotchki/hmdl/bin</string>

                <key>UserName</key>
                <string>chotchki</string>
                <key>GroupName</key>
                <string>staff</string>

                <key>StandardOutPath</key>
                <string>/Users/chotchki/hmdl/log/stdout.txt</string>
                <key>StandardErrorPath</key>
                <string>/Users/chotchki/hmdl/log/stderr.txt</string>

                <key>RunAtLoad</key>
                <true/>

                <key>KeepAlive</key>
                <true/>

                <key>ThrottleInterval</key>
                <integer>5</integer>

                <key>ExitTimeOut</key>
                <integer>30</integer>
        </dict>
</plist>